<div class="modal-body c-modal">
  <div class="c-modal__header">
    <div class="c-modal__title">Editar Contrase&ntilde;a</div>
  </div>
  <div class="c-modal__body">
    <div class="row">
      <div class="col-lg-8">
        <div class="product-order">
          <h4 class="ml-1"><b>Cambiar Contrase&ntilde;a</b></h4>
          <ol class="list-group list-group-numbered">
            <div class="col">
              <div class="form-group mb-3">
                <label class="form-label dark-text"> Contrase&ntilde;a</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Coloque la nueva Contrase&ntilde;a"
                  [(ngModel)]="Password"
                />
              </div>
              <hr />
            </div>
          </ol>

          <button (click)="EditPassword()" mat-button class="btn btn-primary">
            Cambiar Contraseña
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
