<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>Gestionar el pedido</h5>
        </div>

        <table mdbTable striped="true">
          <thead>
            <tr>
              <th>Id</th>
              <th>Fecha Creacion</th>
              <th>Monto</th>
              <th>Ver</th>
            </tr>
          </thead>
          <tbody>
            <tr mdbTableCol *ngFor="let invoice of invoices">
              <td>{{ invoice.id }}</td>
              <td>{{ dateForm(invoice.orderDate) }}</td>
              <td>{{ invoice.total }}</td>
              <!-- <td>{{ ord.totalAmount }}</td> -->
              <!-- <td>{{ ord.status }}</td> -->
              <td>
                <button type="button" class="btn btn-primary">Ver</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- Container-fluid Ends-->
</div>

<!-- Container-fluid Ends-->
