<div class="modal-body c-modal">
  <div class="c-modal__header">
    <div class="c-modal__title">User</div>

    <button
      mat-button
      type="button"
      class="close c-modal__btnClose"
      aria-label="Close"
      (click)="closeModal({ resultType: 'close' })"
    >
      <span aria-hidden="true" class="close-label">&times;</span>
    </button>
  </div>
  <div class="c-modal__body justify-content-center align-content-center">
    <form
      [formGroup]="accountForm"
      (ngSubmit)="onSubmit()"
      class="needs-validation user-add"
      novalida
    >
      <h4>Detalles de la cuenta</h4>
      <div class="form-group col-12">
        <label for="validationCustom1" class="col-xl-3 col-md-4"
          ><span>*</span> Nombre del gerente
        </label>
        <input
          class="form-control col-xl-8 col-md-7"
          id="validationCustom1"
          type="text"
          formControlName="nameUser"
        />
      </div>
      <div class="form-group col-12">
        <label for="validationCustom1" class="col-xl-3 col-md-4"
          ><span>*</span> Apellido del gerente
        </label>
        <input
          class="form-control col-xl-8 col-md-7"
          id="validationCustom1"
          type="text"
          formControlName="lastName"
        />
      </div>
      <div class="form-group col-12">
        <label for="validationCustom1" class="col-xl-3 col-md-4"
          ><span>*</span> Nombre de la empresa
        </label>
        <input
          class="form-control col-xl-8 col-md-7"
          id="validationCustom1"
          type="text"
          formControlName="companyName"
        />
      </div>
      <div class="form-group col-12">
        <label for="validationCustom0" class="col-xl-3 col-md-4"
          ><span>*</span> Ciudad</label
        >
        <input
          class="form-control col-xl-8 col-md-7"
          id="validationCustom0"
          type="text"
          formControlName="city"
        />
      </div>
      <div class="form-group col-12">
        <label for="validationCustom1" class="col-xl-3 col-md-4"
          ><span>*</span> Estado
        </label>
        <input
          class="form-control col-xl-8 col-md-7"
          id="validationCustom1"
          type="text"
          formControlName="state"
        />
      </div>
      <div class="form-group col-12">
        <label for="validationCustom4" class="col-xl-3 col-md-4"
          ><span>*</span> Direccion</label
        >
        <input
          class="form-control col-xl-8 col-md-7"
          id="validationCustom4"
          type="text"
          formControlName="address"
        />
      </div>
      <div class="form-group col-12">
        <label for="validationCustom2" class="col-xl-3 col-md-4"
          ><span>*</span> Codigo postal</label
        >
        <input
          class="form-control col-xl-8 col-md-7"
          id="validationCustom2"
          type="text"
          formControlName="codePostal"
        />
      </div>
      <div class="form-group col-12">
        <label for="validationCustom3" class="col-xl-3 col-md-4"
          ><span>*</span> rnc</label
        >
        <input
          class="form-control col-xl-8 col-md-7"
          id="validationCustom3"
          type="text"
          formControlName="rnc"
        />
      </div>
      <div class="form-group col-12">
        <label for="validationCustom4" class="col-xl-3 col-md-4"
          ><span>*</span> Telefono</label
        >
        <input
          class="form-control col-xl-8 col-md-7"
          id="validationCustom4"
          type="text"
          formControlName="phone"
        />
      </div>
      <div class="form-group col-12">
        <label for="validationCustom4" class="col-xl-3 col-md-4"
          ><span>*</span> Telefono de Gerente</label
        >
        <input
          class="form-control col-xl-8 col-md-7"
          id="validationCustom4"
          type="text"
          formControlName="phoneGerente"
        />
      </div>
      <div class="form-group col-12">
        <label for="validationCustom4" class="col-xl-3 col-md-4"
          ><span>*</span> Extension Telefono de Gerente</label
        >
        <input
          class="form-control col-xl-8 col-md-7"
          id="validationCustom4"
          type="text"
          formControlName="extPhoneGerente"
        />
      </div>

      <div class="form-group col-12">
        <label for="validationCustom4" class="col-xl-3 col-md-4"
          ><span>*</span> Horarios
        </label>
        <input
          [class.disable]="true"
          class="form-control"
          formControlName="hoursDelivery"
          type="time"
          name="appt"
          min="06:00"
          max="12:00"
        />
      </div>
      <div class="pull-right">
        <button type="submit" class="btn btn-primary">Guardar</button>
      </div>
    </form>
  </div>
</div>
