<div class="modal-body c-modal">
  <div class="c-modal__header">
    <div class="c-modal__title">Pedidos</div>

    <button
      mat-button
      type="button"
      class="close c-modal__btnClose"
      aria-label="Close"
      (click)="closeModal({ resultType: 'close' })"
    >
      <span aria-hidden="true" class="close-label">&times;</span>
    </button>
  </div>
  <div class="c-modal__body">
    <div class="row">
      <div class="col-lg-8">
        <div class="product-order">
          <h4 class="ml-1"><b>Los detalles de su pedido</b></h4>
          <ol class="list-group list-group-numbered">
            <li
              class="list-group-item d-flex justify-content-between align-items-start"
              *ngFor="let product of data.ordersDetails"
            >
              <span class="badge rounded-pill">
                <img
                  [src]="product.products.image"
                  alt=""
                  class="img-fluid w-75"
              /></span>
              <ul class="order-detail d-flex flex-column col-6">
                <li>producto: {{ product.products.name }}</li>
                <li>Cantidad: {{ product.quantity }}</li>
                <li>Unidad: {{ product.products.type }}</li>
                <hr />
                <div class="col" *ngIf="data.status == 'Pendientes'">
                  <div class="form-group mb-3">
                    <label class="form-label dark-text">
                      Cantidad Enviada
                    </label>
                    <input
                      type="number"
                      class="form-control"
                      placeholder="0"
                      [(ngModel)]="product.qtySend"
                    />
                  </div>
                </div>
                <div class="col" *ngIf="data.status == 'Enviado'">
                  <div class="form-group mb-3">
                    <label class="form-label dark-text">
                      Cantidad Recibida por el cliente</label
                    >
                    <input
                      type="number"
                      class="form-control"
                      placeholder="0"
                      [(ngModel)]="product.qtyDone"
                    />
                  </div>
                </div>
                <!-- <li>Precio por unida: {{ product.unitPrice }}</li> -->
                <!-- <li>
                  Precio total:
                  {{ product.unitPrice * product?.quantity }}
                </li> -->
              </ul>
            </li>
          </ol>
        </div>
      </div>

      <div class="col">
        <div class="col-sm-12 payment-mode">
          <h4>Numero de Orden</h4>
          <p>{{ data.id }}</p>
          <h4 class="mt-1">Fecha de orden</h4>
          <p>{{ dateForm(data.orderDate) }}</p>
          <!-- <h4 class="mt-1">Total de la orden</h4>
          <p>
            {{ data.totalAmount }}
          </p> -->
        </div>
      </div>
    </div>
    <button
      (click)="sendOrder()"
      mat-button
      class="btn btn-primary"
      *ngIf="data.status == 'Pendientes'"
    >
      Enviar orden
    </button>
    <button
      (click)="sendOrder()"
      mat-button
      class="btn btn-primary"
      *ngIf="data.status == 'Enviado'"
    >
      Cerrar orden
    </button>
  </div>
</div>
