<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="row">
    <div class="col-xl-8">
      <div class="card tab2-card">
        <div class="card-body">
          <ngb-tabset class="tab-coupon profile-tabs">
            <ngb-tab>
              <ng-template ngbTabTitle>
                <app-feather-icons [icon]="'user'"></app-feather-icons
                >Perfil</ng-template
              >
              <ng-template ngbTabContent>
                <div
                  class="tab-pane fade show active"
                  id="top-profile"
                  role="tabpanel"
                  aria-labelledby="top-profile-tab"
                >
                  <h5 class="f-w-600">Perfil</h5>
                  <div class="table-responsive profile-table">
                    <table class="table table-responsive">
                      <tbody>
                        <tr>
                          <td>Nombre:</td>
                          <td>{{ data.nameUser }}</td>
                        </tr>
                        <tr>
                          <td>Correo:</td>
                          <td>{{ data.email }}</td>
                        </tr>

                        <tr>
                          <td>Telefono:</td>
                          <td>{{ data.phone }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Container-fluid Ends-->
