<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>Añadir Asesorias</h5>
        </div>
        <div class="card-body">
          <div class="row product-adding">
            <div class="col-xl-7" *ngIf="consultantForm">
              <form
                [formGroup]="consultantForm"
                (ngSubmit)="crear()"
                novalidate
              >
                <div class="add-product-form">
                  <div class="form-group row">
                    <label
                      for="validationCustom01"
                      class="col-xl-3 col-sm-4 mb-0"
                      >Nombre de la asesoria :</label
                    >
                    <input
                      class="form-control col-xl-8 col-sm-7"
                      id="validationCustom01"
                      type="text"
                      formControl="consultantForm.controls['header']"
                      required
                    />
                    <!-- <div
                      *ngIf="
                        consultantForm.controls.header.touched &&
                        consultantForm.controls.header.errors?.required
                      "
                      class="text text-danger"
                    >
                      Nombre de la asesoria.
                    </div> -->
                  </div>

                  <div class="form-group row">
                    <label
                      for="validationCustom03"
                      class="col-xl-3 col-sm-4 mb-0"
                      >Tipo de asesorias :</label
                    >
                    <input
                      class="form-control col-xl-8 col-sm-7"
                      id="validationCustom03"
                      type="text"
                      formControl="consultantForm.controls['type']"
                      required
                    />
                    <!-- <div class="text text-danger">
                      Producto <Code></Code> es necesario.
                    </div> -->
                  </div>

                  <div class="form-group row">
                    <label
                      for="validationCustom01"
                      class="col-xl-3 col-sm-4 mb-0"
                      >Detalle de la asesoria :</label
                    >
                    <input
                      class="form-control col-xl-8 col-sm-7"
                      id="validationCustom01"
                      type="text"
                      formControl="consultantForm.controls['body']"
                      required
                    />
                    <!-- <div
                      *ngIf="
                        consultantForm.controls.body.touched &&
                        consultantForm.controls.body.errors?.required
                      "
                      class="text text-danger"
                    >
                      Detalle de la asesoria.
                    </div> -->
                  </div>
                </div>
                <button class="btn btn-primary mr-1" type="submit">
                  Crear Asesorias
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Container-fluid Ends-->
