<div class="container-fluid d-flex">
  <div class="col-3 m-2">
    <div class="global text-center mt-2">
      <h1>PARA ENTREGAR HOY</h1>
      <h2>47 %</h2>
      <h1>Clientes</h1>
    </div>
    <div class="global text-center mt-2">
      <h2>35 %</h2>
      <h1>Listos</h1>
    </div>
    <div class="global text-center mt-2">
      <h2>47 %</h2>
      <h1>Pendintes</h1>
    </div>
  </div>
  <div class="container container-board overflow-auto justify-content-center row">
    <div *ngFor="let item of orders" class="col-xl-3 col container-body m-2 text-center">
      <i class="mt-2" [class]="+ item.isActive ? 'fa fa-check-circle' : 'fa fa-times'"></i>
      <div class="text-center m-2">
        {{item.orderDate}}
      </div>
      <div class="text-center m-2 alert" [class]="item.staus === 'Pedientes' ? 'alert-success' : 'alert-danger' ">
         {{item.status}}
      </div>
      <div class="row justify-content-center">
        <h3> {{item.customer.firstName}}</h3>
        <h4> {{item.customer.lastName}} </h4>
      </div>
      <div>
        <ul  class="row justify-content-center list-group">
          <div *ngFor="let itemDetails of item.ordersDetails">
            <div>
            nomber: {{itemDetails.products.name}}
          </div>
          <div>
           Precio: {{itemDetails.amount}}
          </div>
           <div >
            cantidad: {{itemDetails.quantity}}
           </div>
           </div>
          </ul>
      </div>

      <h1>
         {{item.totalAmount}}
      </h1>
    </div>
  </div>
</div>
