<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <ul class="ml-5 pl-2 navbar-nav mr-auto">
    <li class="nav-item active">
      <label class="nav-link" href="#">Pendientes: {{ Total }}</label>
    </li>
    <li class="nav-item">
      <label class="nav-link" href="#"
        >Listos: {{ listo }} de {{ Total }}</label
      >
    </li>
    <li class="nav-item">
      <label class="nav-link" href="#"
        >Pendintes: {{ pendintes }} de {{ Total }}</label
      >
    </li>
  </ul>
</nav>
<div class="col-12 overflow-auto justify-content-center row">
  <div
    *ngFor="let item of orders"
    class="col-xl-2 col container-body m-2 text-center"
  >
    <h4 class="mt-2">{{ item.isExpress ? "Exprés" : "Normal" }}</h4>
    <i
      class="mt-2"
      [class]="+item.isActive ? 'fa fa-check-circle' : 'fa fa-times'"
    ></i>
    <div class="text-center m-2">
      {{ dateForm(item.orderDate) }}
    </div>
    <div
      class="text-center m-2 alert"
      [class]="item.staus === 'Pedientes' ? 'alert-success' : 'alert-danger'"
    >
    9:00 AM
    </div>
    <div class="row justify-content-center">
      <h3>{{ item.customer.firstName }}</h3>
    </div>
    <div>
      <ul class="row justify-content-center list-group">
        <div *ngFor="let itemDetails of item.ordersDetails">
          <div>{{ itemDetails.products.name }}</div>
          <div>{{ itemDetails.quantity }} lib</div>
        </div>
      </ul>
    </div>
  </div>
</div>
