<div class="container-fluid card">
  <section class="overflow-auto">
    <article
      class="p-0 m-0 row d-flex flex-nowrap flex-row py-3 my-4 item-card full-width"
      *ngFor="let item of product_list"
    >
      <div class="p-0 m-0 col-3">
        <label class="col-12 mb-0 pl-0 item-label font-weight-600"
          >producto</label
        >
        <img
          [src]="[item.image]"
          class="img-fluid blur-up lazyload bg-img w-25"
          alt=""
        />
      </div>
      <div class="p-0 m-0 col-3">
        <label class="col-12 mb-0 pl-0 item-label font-weight-600"
          >Nombre</label
        >
        <span class="col-12 pl-0 font-weight-600 item-value font-weight-500">{{
          item.name
        }}</span>
      </div>
      <div class="p-0 m-0 col-2">
        <label class="col-12 mb-0 pl-0 item-label font-weight-600"
          >precio</label
        >
        <span class="col-12 pl-0 font-weight-600 item-value font-weight-500">{{
          item.prices
        }}</span>
      </div>

      <div class="p-0 m-0 col-2">
        <button
          class="align-items-center btn btn-light d-flex justify-content-center row"
          (click)="Delete(item)"
        >
        <i class="icon-trash ml-1 p-1"></i>
          <label class="m-0 mr-4 u-smallerSize"> elimiar</label>
        </button>
      </div>

      <div class="p-0 m-0 col-2">
        <button
          class="align-items-center btn btn-light d-flex justify-content-center row"
          (click)="Delete(item)"
        >
        <i class="icon-pencil-alt ml-1 p-1"></i>
          <label class="m-0 mr-4 u-smallerSize"> editar</label>
        </button>
      </div>
    </article>
  </section>
</div>
